@charset "UTF-8";
@import "/node_modules/@fontsource-variable/eb-garamond/wght-italic.css";
@import "/node_modules/@fontsource/nanum-myeongjo/400.css";
@import "/node_modules/@fontsource/nanum-myeongjo/700.css";
@import "/node_modules/@fontsource/zen-old-mincho/400.css";
@import "/node_modules/@fontsource/zen-old-mincho/700.css";

@font-face {
    font-family: 'Yakumono';
    src: url("/fonts/YakuCaltMincho-R.woff") format("woff");
}

// 基本フォントサイズ
$base-font-size: 9pt;
// 基本行送り
$base-line-height: 16pt;
// 基本フォントファミリー
$base-font-family: "EB Garamond", "Yakumono", "Nanum Myeongjo", "Zen Old Mincho", serif;

// ページのスタイル定義
@import 'a5/format';
// タイポグラフィのスタイル定義
@import 'a5/typography';
// コンテンツのスタイル定義
@import 'a5/contents';
